<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <script>
        function onSubmit() {
            var list = $('input.checkbox-cart:checked').map(function () {
                return $(this).val();
            }).get();
            if (confirm(list.length + '개 주문합니다')) {
                document.goOrder.ids.value = list;
            }
            return false;
        }


    </script>

    <script>
        function addOrder() {

            var list = $('input.checkbox-cart:checked').map(function () {
                return {id: parseInt($(this).val())}
            }).get();
            if (confirm(list.length + '개 주문합니다')) {
                console.log(list);
                $.ajax({
                    url: '/api/order',
                    data: JSON.stringify({
                        cartList: list
                    }),
                    contentType: "application/json",
                    dataType: 'json',
                    method: 'post',
                    success: function (data) {
                        if (data && data.item) {
                            alert('주문 성공')
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>

<section layout:fragment="content">
    <h1>cart</h1>

    <table>
        <thead>
        <tr>
            <th>선택</th>
            <th>상품명</th>
            <th>수량</th>
            <th>가격</th>
            <th>담은날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${not #lists.isEmpty(cartList)}" th:each="cart : ${cartList}">
            <td><input type="checkbox" class="checkbox-cart" th:value="${cart.id}"></td>
            <td th:text="${cart.item.name}"></td>
            <td th:text="${cart.quantity}"></td>
            <td th:text="${cart.item.price * cart.quantity}"></td>
            <td th:text="${#temporals.format(cart.regdate, 'yyyy/MM/dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <button onclick="addOrder()">주문하기</button>
</section>
</body>
</html>